body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f4f7;
}

/
header {
    background-color: #124D8C;
    padding: 15px;
    color: white;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1px;
}


main {
    display: flex;
    height: 88vh;
}


.left-box {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-box img {
    width: 180px;
    margin-bottom: 20px;
}

.left-box h1 {
    color: #124D8C;
    font-size: 38px;
    font-weight: bold;
}

.presentation-text {
    width: 60%;
    text-align: center;
    color: #333;
}


.right-box {
    width: 50%;
    background-color: #124D8C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-container {
    width: 80%;
    max-width: 400px;
    text-align: left;
}

.form-container h2 {
    color: white;
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

label {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

input {
    width: 100%;
    padding: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 16px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.links a {
    color: #F4A261;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.login-btn {
    width: 100%;
    padding: 14px;
    background-color: #F4A261;
    color: #124D8C;
    border: none;
    border-radius: 14px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #124D8C;
    color: white;
    font-size: 14px;
}
