body {
    margin: 0;
    background: #f0f2f5;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #0b3c71;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    padding-top: 20px;
}

.logo-box {
    text-align: center;
}

.logo {
    width: 55px;
    margin-bottom: 10px;
}

.menu {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.menu-item {
    color: white;
    padding: 15px 30px;
    display: block;
    text-decoration: none;
}

.menu-item:hover,
.menu-item.active {
    background: #145a9e;
}

.content {
    margin-left: 260px;
    padding: 30px;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
}

.search {
    padding: 10px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.bell {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
}

.title {
    font-size: 26px;
    margin-top: 10px;
}

.subtitle {
    color: #666;
    margin-top: -10px;
}

.dashboard-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.small {
    text-align: center;
}

.highlight {
    background: #ffe4c4;
}

.big-value {
    font-size: 32px;
    margin-top: 10px;
}


.grafico-img {
   width: 100%;
    max-width: 350px;      
    height: auto;
    display: block;
    margin: 0 auto;        
    border-radius: 12px;
    object-fit: contain; 
}

.image-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-card img {
    width: 100%;
    max-width: 220px;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.footer {
    text-align: center;
    margin-top: 35px;
    font-size: 14px;
    color: #555;
}

@media (max-width: 900px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
    }
}


