body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e4e6eb;
}

.sidebar {
    width: 250px;
    background: #0b3c71;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding-top: 20px;
}

.logo-box {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 55px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    color: white;
    padding: 15px 25px;
    display: block;
    text-decoration: none;
}

.menu-item:hover,
.menu-item.active {
    background: #145a9e;
}


.content {
    margin-left: 260px;
    padding: 20px;
}


.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.search {
    padding: 10px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid #aaa;
}

.bell {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.user-box {
    text-align: right;
    font-size: 14px;
}

.circle-user {
    font-size: 24px;
    background: #d9d9d9;
    padding: 8px;
    border-radius: 50%;
}



.title {
    margin-top: 25px;
    background: #b7d0e8;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}


.notif-card {
    background: #d8e3f5;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    margin-top: 15px;
    border-radius: 12px;
    border: 2px solid #a3b9d3;
}

.notif-card .icon {
    font-size: 36px;
}

.approved .icon {
    color: #ff9a33;
}

.rejected .icon {
    color: #cc5400;
}


.btn {
    background: white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 8px;
}

.footer {
    margin-top: 40px;
    text-align: center;
    padding: 15px;
}