* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #707680;
}


.top-bar {
    padding: 10px 20px;
    color: white;
    font-size: 14px;
}


.container {
    display: flex;
}


.sidebar {
    width: 260px;
    background: #0f3f78;
    height: 93vh;
    color: white;
    padding-top: 20px;
}

.logo-box {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 60px;
    margin-bottom: 10px;
}


.menu-item {
    display: block;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.menu-item:hover,
.menu-item.active {
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
}

.content {
    width: 100%;
    padding: 20px 40px;
    background: white;
    min-height: 93vh;
}


.search-bar {
    display: flex;
    gap: 10px;
}

.search-bar input {
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #bbb;
}

.bell {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}


.title {
    margin: 25px 0;
    padding: 15px;
    background: #c6d2e7;
    text-align: center;
    border-radius: 10px;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
    font-size: 16px;
    margin-bottom: 5px;
}

.input, select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #bbb;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.column {
    width: 50%;
}

.textarea {
    height: 120px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #bbb;
}

.btn-enviar {
    width: 200px;
    align-self: center;
    background: #f6ab7a;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn-enviar:hover {
    background: #f09a5c;
}


.footer {
    margin-top: 40px;
    text-align: center;
    color: #555;
}
